
body {
  background-image: url(../images/bg1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
body md-icon i {
  font-style: normal;
}
body #main-menu div.md-nav-bar {
  background: #000;
  border-bottom: 1px solid #FFF;
  -webkit-box-shadow: 5px 0 10px #000;
          box-shadow: 5px 0 10px #000;
}
body #main-menu div.md-nav-bar button {
  color: #FFF;
}
body #main-menu div.md-nav-bar button.md-accent.md-active {
  background: #FFF;
  color: #000;
}
body #main-content {
  background: rgba(255, 255, 255, 0.7);
}
body .top-breathe {
  margin-top: 40px;
}
body div.error {
  padding: 15px;
  border: 1px solid #F00;
  background: #F99;
}
body div.info {
  padding: 15px;
  border: 1px solid #00F;
  background: #9CF;
}
