<md-content layout-padding id="time-entry-view">
    <div layout="row">
        <h2>{{ startDate | date: 'MMMM d' }} - {{ endDate | date: 'd' }}</h2>
    </div>
    <form name="timeEntryForm" ng-submit="saveTime()" novalidate>
        <div layout="column" class="block">
            <div layout="row" id="table-headers">
                <div class="description header" flex="40">Description of work</div>
                <div class="charge-code header" flex="10">Charge Code</div>
                <div class="date" ng-class="{ 'active': date === timeEntryObj.activeDate }" ng-repeat="date in dates" flex>{{ date | date: 'd' }}</div>
                <div class="total" flex></div>
            </div>
            <div layout="row" class="table-rows" layout-align="center center" ng-repeat-start="timeEntry in timeEntryObj.timeEntrySets">
                <div class="description header" flex="40" layout="column">
                    <textarea flex rows="2" ng-model="chargeCode.description" placeholder="Describe work"></textarea>
                </div>
                <div class="charge-code" flex="10">
                    <div class="bordered">
                        <input ng-model="timeEntry.chargeCode" aria-label="charge code">
                    </div>
                </div>
                <div class="date bordered" ng-class="{ 'active': date === timeEntryObj.activeDate }" ng-init="timeEntry.hours[$index] = { date: date }" ng-repeat="date in dates" flex>
                    <div>
                        <input ng-focus="timeEntryObj.activeDate = date" ng-model="timeEntry.hours[$index].hoursWorked" ng-disabled="!timeEntry.chargeCode" aria-label="hours worked for {{ date | date: 'mediumDate' }}">
                    </div>
                </div>
                <div class="total" flex>{{ getTotal(timeEntry) }}</div>
            </div>
            <md-divider ng-repeat-end ng-if="!$last"></md-divider>
            <div id="totals-row" layout="row">
                <div class="description header" flex="40"></div>
                <div class="charge-code header" flex="10"></div>
                <div class="date" ng-repeat="date in dates" flex>{{ getDateTotal(date) }}</div>
                <div class="total" flex>{{ getGrandTotal() }}</div>
            </div>
            <div id="actions" layout="row" layout-padding layout-align="end center">
                <md-progress-linear md-mode="indeterminate" ng-if="processing"></md-progress-linear>
                <div class="error" ng-if="submitTimeError">
                    <md-icon><i class="material-icon">warning</i></md-icon>
                    There was an error saving your time entry
                </div>
                <div class="success" ng-if="saveSuccess">
                    <md-icon><i class="material-icon">check</i></md-icon>
                    Your time entry has been saved successfully
                </div>
                <span flex ng-if="submitTimeError || saveSuccess"></span>
                <md-button class="md-raised md-default" type="submit">
                    Sign
                </md-button>

                <md-button class="md-raised md-primary" type="submit">
                    Save
                </md-button>
            </div>
        </div>
    </form>
</md-content>
