@import '../../../less/colors.less';
#approve-time-view {
    h2 {
        color: #5f697a;
        font-weight: normal;
    }
    div.panel {
        padding: 0;
        border: 1px solid #CCC;
        box-shadow: 0 0 10px #777;
        background: #FFF;
        h3 {
            font-size: 1.6em;
            font-weight: normal;
            padding: 15px;
        }

        div.panel-tools {
            background: #CCCC;
            padding: 15px;
            margin: 0;
            button {
                border: none;
                color: @dark-blue;
            }
        }
        md-list-item {
            a {
                color: #000;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
