<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SEVIS-CAD Timekeeping</title>
    <link href="vendor/angular-material/angular-material.min.css" rel="stylesheet">
    <!-- build:maincss -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<!-- endbuild -->
</head>
<body ng-controller="AppController" ng-cloak>
    <div layout-fill layout="column">
        <div id="main-menu" layout="row" layout-align="start end">
            <img id="logo-image" src="assets/images/logo.png" alt="DHS">
            <h1 id="logo">SEVIS-CAD Timekeeping</h1>
            <md-nav-bar nav-bar-aria-label="Main Menu" 
                        ng-if="auth.user"
                        flex
                        md-selected-nav-item="currentNavItem" >
                <md-nav-item md-nav-click="goto('/')" name="dashboard">Dashboard</md-nav-item>
                <md-nav-item md-nav-click="goto('timesheets')" name="timesheets">Manage Time</md-nav-item>
                <md-nav-item md-nav-click="goto('approve')" name="approve">Approve Time</md-nav-item>
                <md-menu>
                    <md-button ng-click="$mdMenu.open()">
                        Admin
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="goto('admin/jobs')">Jobs</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <span flex></span>
                <p-user></p-user>
            </md-nav-bar>
        </div>
        <div ng-view flex></div>
        <md-divider></md-divider>
        <div layout-padding layout="row" layout-align="center center">
            <div>
                <!-- build:appVersion -->
                    SEVIS CAD Timekeeping v0.1.0
                <!-- endbuild -->
            </div>
        </div>
    </div>

    <!-- build:js -->
    <script src="vendor/requirejs/require.js?version=1.0" data-main='app/main'></script>
    <!-- endbuild -->
</body>
</html>
